@media screen and (max-width: 1200px) {
  

 

    .InfoPopup .container .TituloFilme{

    
    
        
        font-size: 25px;
       
    }

    .InfoFilme{

        font-size: 15px;;
    
    }
    
 



}





@media screen and (max-width: 1000px) {
  

 

    .CartazPromocional{

        font-size: 16px;
        
        
    }
    
    .CartazPromocional .TituloFilme{
        
        font-size: 60px;
        
    }

    .InfoPopup .container .TituloFilme{

    
    
        
        font-size: 20px;
       
    }

    .InfoFilme{

        font-size: 15px;;
    
    }

 



}




@media screen and (max-width: 768px) {

    
    header .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2%;
    }

    .container{

        margin-left: 12%;
        margin-right: 12%;
    }    

    .MenuCabecalho{
      
        font-size: 12px;


    }

    * img { 
        width: 15rem; 
        height: auto;
        margin-left: 10%;  
        margin-bottom: 2%;
    } /* Configura todas as imagens do documento a 3rem */
    header.LogoNetflix img{

        width: 15rem;
        height: auto;
    
    }

    .CartazPromocional{

        font-size: 14px;
        
        
    }
    
    .CartazPromocional .TituloFilme{
        
        font-size: 40px;
        
    }

    .CartazPromocional .PainelBtnCartaz .CartazBTN{

    
        margin-top: 5px;
    
    }

    .PopUpBox{

        width: 100vw;
        height: 100vh;
        
       
    }

    .InfoPopup .container .TituloFilme{

    
    
        
        font-size: 20px;
       
    }

    .InfoFilme{

        font-size: 10px;;
    
    }

 




}




@media screen and (max-width: 500px) {



    .container{

        margin-left: 12%;
        margin-right: 12%;
    }    

    .MenuCabecalho{
        margin-left: 1%;
        font-size: 10px;


    }

    * img { 
        width: 15rem; 
        height: auto;
        margin-left: 1%;  
        margin-bottom: 5%;
    } /* Configura todas as imagens do documento a 3rem */
    header.LogoNetflix img{

        width: 15rem;
        height: auto;
    
    }

    .CartazPromocional{

        font-size: 14px;
        height: 500px;
        
    }
    


    .CartazPromocional .TituloFilme{
        
        font-size: 32px;
        
    }

    .CartazPromocional .PainelBtnCartaz .CartazBTN{

        width: 250px;
        margin-top: 5px;
    
    }

    .InfoPopup .container .TituloFilme{

    
    
        
        font-size: 15px;
       
    }

    .InfoFilme{

        font-size: 8px;;
    
    }
    

 
    


}


@media screen and (max-width: 300px) {



    .container{

        margin-left: 15%;
      
    }    

    .MenuCabecalho{
        margin-left: 10%;
        font-size: 10px;


    }

    * img { 
        width: 8rem; 
        height: auto;
        margin-left: 18%;  
        margin-bottom: 8%;
    } /* Configura todas as imagens do documento a 3rem */
    header.LogoNetflix img{

        width: 18rem;
        height: auto;
    
    }

    .CartazPromocional{

        font-size: 12px;
        height: 500px;
        
    }
    


    .CartazPromocional .TituloFilme{
        
        font-size: 25px;
        
    }

    .CartazPromocional .PainelBtnCartaz .CartazBTN{

        width: 200px;
        margin-top: 5px;
    
    }

    .InfoPopup .container .TituloFilme{

    
    
        
        font-size: 15px;
       
    }

    .InfoFilme{

        font-size: 7px;;
    
    }

    .InfoPopup{

       
        width: 35%;
        min-width: 200px;
        padding: 25px;
  
        
     }

     


     


}